{% extends 'base.html' %}
{% load static %}

{% block body_block %}



<!-- content begin -->
<div class="no-bottom no-top" id="content">
    <div id="top"></div>
    
    <!-- section begin -->
    <section id="subheader" data-bgimage="url({% static '' %}images/background/5.png) bottom">
            <div class="center-y relative text-center" data-scroll-speed="4">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            <form action='' class="row" id='form_subscribe' method="post" name="myForm">
                        <div class="col-md-12 text-center">
                            <h1>Contact Us</h1>
                            <p>{{contactpagesubtitle.sub_title}}</p>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <!-- section close -->
    

    <section class="no-top" data-bgimage="url({% static '' %}images/background/3.png) top">
        <div class="container">
                <div class="row">
                    
                    <div class="col-lg-8 offset-md-2 mb-sm-30">
                    <h3>Do you have any question?</h3>
                    
                    <form name="contactForm" id="contact_form" class="form-border" method="POST" action="{% url 'mainapp:contact_us' %}" onsubmit="return confirm('Do you really want to submit the form?');">
                        {% csrf_token %}
                        <div class="field-set">
                            <input type="text" name="name" id="name" class="form-control" placeholder="Your Name" required />
                        </div>

                        <div class="field-set">
                            <input type="text" name="email" id="email" class="form-control" placeholder="Your Email" required/>
                        </div>

                        <div class="field-set">
                            <textarea name="message" id="message" class="form-control" placeholder="Your Message"></textarea>
                        </div>

                        <div class="spacer-half"></div>

                        <div id="submit">
                            <input type="submit" id="" value="Submit Form" class="btn btn-custom" />
                        </div>
                        {% comment %} <div id="mail_success" class="success">Your message has been sent successfully.</div>
                        <div id="mail_fail" class="error">Sorry, error occured this time sending your message.</div> {% endcomment %}
                    </form>
                </div>
                
                <div class="spacer-double"></div>
                
                <div class="col-lg-8 offset-md-2 mb30">
                    <div class="row">
                        {% for addresslocations in addresslocation %}
                        <div class="col-md-6">
                            <div class="padding40 text-light box-rounded" style="background-color: {{addresslocations.colour}}">
                                <h3>{{addresslocations.office_name}}</h3>
                                <address class="s1">
                                    <span><i class="fa fa-map-marker fa-lg"></i>{{addresslocations.location}}</span>
                                    <span><i class="fa fa-phone fa-lg"></i>{{addresslocations.phone}}</span>
                                    <span><i class="fa fa-envelope-o fa-lg"></i><a href="mailto:{{addresslocations.email}}">{{addresslocations.email}}</a></span>
                                </address>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
                    
                </div>
            </div>
        </div>

    </section>

</div>
<!-- content close -->



{% endblock body_block %}