{% extends 'base.html' %}
{% load static %}

<title>{% block title_block %} {{meta.site_title}} {% endblock title_block %}</title>

{% block body_block %}

<!-- content begin -->
<div class="no-bottom no-top" id="content">
    <div id="top"></div>
    
    <!-- section begin -->
    <section id="subheader" data-bgimage="url({% static '' %}images/background/5.png) bottom">
            <div class="center-y relative text-center" data-scroll-speed="4">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            <form action='' class="row" id='form_subscribe' method="post" name="myForm">
                        <div class="col-md-12 text-center">
                            <h1>Our Team</h1>
                            <p>{{teampagesubtitle.sub_title}}</p>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <!-- section close -->

    <section class="no-top pos-top relative">
        <div class="container">
            <div class="row">

                {% for teampages in teampage %}
                <div class="col-lg-3 col-md-6 col-sm-6 mb30">
                    <div class="f-profile text-center">
                        <div class="fp-wrap f-invert">
                            <div class="fpw-overlay">
                                <div class="fpwo-wrap">
                                    <div class="fpwow-icons">
                                        <a href="{{teampages.facebook}}"><i class="fa fa-facebook fa-lg"></i></a>
                                        <a href="{{teampages.twitter}}"><i class="fa fa-twitter fa-lg"></i></a>
                                        <a href="{{teampages.linkedin}}"><i class="fa fa-linkedin fa-lg"></i></a>
                                        <a href="{{teampages.instagram}}"><i class="fa fa-google-plus fa-lg"></i></a>
                                    </div>
                                </div>
                            </div>									
                            <div class="fpw-overlay-btm"></div>
                            <img src="/media/{{teampages.image}}" class="fp-image img-fluid" alt="{{teampages.img_alt}}">
                        </div>

                        <h4>{{teampages.name}}</h4>
                        {{teampages.position}}
                    </div>
                </div>
                {% endfor %}

                
            </div>
            
        </div>
            
    </section>
    
    <section class="pt60 pb60 bg-color-2 text-light">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-8 mb-sm-30 text-lg-left text-sm-center">
                    <h3 class="no-bottom">Awesomeness begin here. Are you ready?</h3>
                </div>
                
                <div class="col-md-4 text-lg-right text-sm-center">
                    <a href="#" class="btn-custom capsule med">Let's do it!</a>
                </div>
            </div>
        </div>
    </section>

</div>
<!-- content close -->



{% endblock body_block %}