{% extends 'base.html' %}
{% load static %}

<title>{% block title_block %}{{seoservicehomepagecontentandmeta.meta_site_title}}{% endblock title_block %}</title>

<meta content="{% block meta_description_block %}{{seoservicehomepagecontentandmeta.meta_description}}{% endblock meta_description_block %}" name="description">
<meta content="{% block meta_keywords_block %}{{seoservicehomepagecontentandmeta.meta_keywords}}{% endblock meta_keywords_block %}" name="keywords">


{% comment %} seoservicehomepage.site_title {% endcomment %}

{% block body_block %}


    <!-- content begin -->
    <div class="no-bottom no-top" id="content">
        <div id="top"></div>
        
        <!-- section begin -->
        <section id="subheader" data-bgimage="url({% static '' %}images/background/5.png) bottom">
                <div class="center-y relative text-center" data-scroll-speed="4">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 offset-md-2">
                                <form action='' class="row" id='form_subscribe' method="post" name="myForm">
                            <div class="col-md-12 text-center">
                                <h1>{{seoservicehomepagecontentandmeta.title}}</h1>
                                <p>{{seoservicehomepagecontentandmeta.sub_title}}</p>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
        <!-- section close -->
        
        <section class="no-top" data-bgimage="url({% static '' %}images/background/6.png) center">
            <div class="container">
                <div class="row align-items-center">
                
                    <div class="col-md-6">
                        <h3>{{seoservicehomepagecontentandmeta.firstsection_title}}</h3>
                        {{seoservicehomepagecontentandmeta.firstsection_description|safe}} 
                    </div>
                    
                    <div class="col-md-6">
                        <img src="/media/{{seoservicehomepagecontentandmeta.firstsection_image}}" class="img-fluid" alt="{{seoservicehomepagecontentandmeta.firstsection_img_alt}}}">
                    </div>
                    
                </div>
                
                <div class="spacer-double"></div>
                
                <div class="row">
                    
                    <div class="col-md-12 text-center">
                        <h3>Benefits of Email Marketing</h3>
                    </div>						
                        
                    {% for seopagebenefit in seopagebenefits %}
                    <div class="col-lg-3 col-md-6">
                        <div class="feature-box-type-2 mb30 text-light" data-bgcolor="{{seopagebenefit.bd_coloer}}">
                            <i class="{{seopagebenefit.icon_class}}"></i>
                            <h4>{{seopagebenefit.title}}</h4>
                        </div>
                    </div>
                    {% endfor %}

                        
                        
                        <div class="spacer-double"></div>
                        
                        <div class="col-md-12 text-center">
                            <h3>SEO Services FAQ</h3>
                        </div>
                        
                        <div class="col-12">
                            <div id="accordion-1" class="accordion accordion-style-1">
                                <!-- Accordion item 3 -->
                                {% for seoservicefaqquestion in seoservicefaq %}
                                <div class="card">
                                    <div id="heading-a{{seoservicefaqquestion.id}}" class="card-header bg-white shadow-sm border-0">
                                        <h6 class="mb-0 font-weight-bold"><a href="#" data-toggle="collapse" data-target="#collapse-a{{seoservicefaqquestion.id}}" aria-expanded="false" aria-controls="collapse-a3" class="d-block position-relative collapsed text-dark collapsible-link py-2">{{seoservicefaqquestion.title}}</a></h6>
                                    </div>
                                    <div id="collapse-a{{seoservicefaqquestion.id}}" aria-labelledby="heading-a{{seoservicefaqquestion.id}}" data-parent="#accordion-1" class="collapse">
                                        <div class="card-body p-4">
                                            <p class="m-0">{{seoservicefaqquestion.description|safe}}</p>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    
                    </div>
         
                </div>
            </div>
        </section>


        <section class="no-top pos-top relative">
            <div class="container">
                <div class="row">

                    <div class="col-md-12 text-center">
                        <h3>SEO Protfolio</h3>
                    </div>

                    {% for seoporfolios in seoportfolio %}
                    <div class="col-md-4 mb30">
                        <div class="de-image-hover rounded">
                            <a href="{% url 'digitalmarketing:protfolio_details' slug=seoporfolios.slug %}">		
                                <span class="dih-title-wrap">
                                    <span class="dih-title">{{seoporfolios.title}}</span>
                                </span>
                                <span class="dih-overlay"></span>
                                <img src="/media/{{seoporfolios.feature_image}}" class="img-fluid" alt="{{seoporfolios.img_alt}}">
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                    
                </div>
                
            </div>
                
        </section>
        <br>
        <section>
            <!-- pricing -->
            {% include 'includes/pricing.html' %}
        </section>


    </div>
    <!-- content close -->


{% endblock body_block %}


