{% extends 'base.html' %}
{% load static %}

{% block body_block %}


    <!-- Header starts
    ======================================= -->
    <div class="inner-page-banner">
        <div class="container text-center">
            <h1>Social Media Marketing</h1>
            <p>Driving more traffic to your website by increasing rank in different search engines.</p>
        </div>
        <!-- End of .container -->
    </div>
    <!-- End of .banner -->

    <!-- image-with-description starts
    ======================================= -->
    <section class="image-with-description">
        <svg class="bg-shape image-with-description-shape-bg reveal-from-right" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            width="779px" height="759px">
            <defs>
                <linearGradient id="PSgrad_03" x1="70.711%" x2="0%" y1="70.711%" y2="0%">
                    <stop offset="0%" stop-color="rgb(237,247,255)" stop-opacity="1" />
                    <stop offset="100%" stop-color="rgb(237,247,255)" stop-opacity="0" />
                </linearGradient>
            </defs>
            <path fill-rule="evenodd" fill="url(#PSgrad_03)" d="M111.652,578.171 L218.141,672.919 C355.910,795.500 568.207,784.561 692.320,648.484 C816.434,512.409 805.362,302.726 667.592,180.144 L561.104,85.396 C423.334,-37.184 211.037,-26.245 86.924,109.832 C-37.189,245.908 -26.118,455.590 111.652,578.171 Z"
            />
        </svg>

        <div class="container">
            <div class="row align-items-center image-with-description-block">
                <div class="col-lg-6">
                    <h2>Result Oriented Marketing</h2>
                    <p>Aenean consectetur massa quis sem volutpat, a condimentum tortor pretium. Cras id ligula consequat,
                        sagittis nulla at, sollicitudin lorem. Orci varius natoque penatibus et magnis dis parturient
                        montes.
                    </p>
                    <ul class="common-list-items">
                        <li>
                            <i class="ml-tec-44-responsive-mobile-phone-tablet-computer-desktop-monitor-laptop"></i> One design for your desktop, tab and mobile.</li>
                        <li>
                            <i class="ml-tec-47-disc-device-plug-computer-desktop-monitor-laptop"></i> Beautiful and modern design that makes difference.</li>
                        <li>
                            <i class="ml-tec-43-computer-desktop-monitor-laptop"></i> Boost your sales with strategically built user experience.</li>
                    </ul>
                    <!-- End of .common-list-items -->
                </div>
                <!-- End of .col-lg-6 -->

                <div class="col-lg-6 text-lg-right">
                    <img src="{% static 'images/services/smm.jpg' %}" alt="service description image" class="img-fluid">
                </div>
                <!-- End of .col-lg-6 -->
            </div>
            <!-- End of .row -->
        </div>
        <!-- End of .container -->
    </section>
    <!-- End of .image-with-description -->

    <!-- our-process
    ======================================= -->
    <section class="our-process section-padding">
        <div class="container">
            <h2 class="text-center">Our Process</h2>
            <p class="section-subheading text-center">Great websites add great values to your business. From wire-framing to
                <br>PSD designing, we do it all.</p>

            <div class="service-process-tab">
                <ul class="nav nav-tabs service-tab-nav" id="service-tab-nav" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="process-nav-1" data-bs-toggle="tab" href="#process-tab-1" role="tab" aria-controls="process-tab-1"
                            aria-selected="true">
                            <i class="ml-edu-8-telescope-geography-astronomy-science-research-discover"></i>
                            <span>Discover</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="process-nav-2" data-bs-toggle="tab" href="#process-tab-2" role="tab" aria-controls="process-tab-2" aria-selected="true">
                            <i class="ml-baftwo-43-chess-leader-leadership-horse-strategy"></i>
                            <span>Strategy</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="process-nav-3" data-bs-toggle="tab" href="#process-tab-3" role="tab" aria-controls="process-tab-3" aria-selected="true">
                            <i class="ml-baftwo-42-jigsaw-puzzle-solve-problem-strategy"></i>
                            <span>Optimization</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="process-nav-4" data-bs-toggle="tab" href="#process-tab-4" role="tab" aria-controls="process-tab-4" aria-selected="true">
                            <i class="ml-baftwo-56-legal-document-sign-contract-paper"></i>
                            <span>Content</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="process-nav-5" data-bs-toggle="tab" href="#process-tab-5" role="tab" aria-controls="process-tab-5" aria-selected="true">
                            <i class="ml-baftwo-37-discount-legal-paper-bill-invoice-percentage"></i>
                            <span>Reporting</span>
                        </a>
                    </li>
                </ul>
                <!-- End of .service-tab-nav -->
                <div class="tab-content service-tab-content" id="service-tab">
                    <div class="tab-pane fade show active" id="process-tab-1" role="tabpanel" aria-labelledby="process-nav-1">
                        <div class="row no-gutters align-items-center">
                            <div class="col-lg-5 text-lg-right">
                                <img src="{% static 'images/services/process-tab/smm-process/smm-process-img-1.jpg' %}" alt="Process image" class="img-fluid">
                            </div>
                            <!-- End of .col-lg-6 -->

                            <div class="col-lg-6 offset-lg-1 text-center text-lg-left">
                                <h4>Consultation</h4>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                                    tincid unt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.</p>
                                <p>Quis nostrud exerci tation ullam corper suscipit lobortis nisl ut aliquip ex ea commodo
                                    consequat. </p>
                                <a href="#" class="text-only-btn">Next Process
                                    <i class="ml-symone-2-arrow-left-right-up-down-increase-decrease"></i>
                                </a>
                            </div>
                            <!-- End of .col-lg-6 -->
                        </div>
                        <!-- End of .row -->
                    </div>
                    <!-- End of .tab-pane -->

                    <div class="tab-pane fade" id="process-tab-2" role="tabpanel" aria-labelledby="process-nav-2">
                        <div class="row no-gutters align-items-center">
                            <div class="col-lg-5 text-lg-right">
                                <img src="{% static 'images/services/process-tab/smm-process/smm-process-img-2.jpg' %}" alt="Process image" class="img-fluid">
                            </div>
                            <!-- End of .col-lg-6 -->

                            <div class="col-lg-6 offset-lg-1 text-center text-lg-left">
                                <h4>Wire-frame</h4>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                                    tincid unt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.</p>
                                <p>Quis nostrud exerci tation ullam corper suscipit lobortis nisl ut aliquip ex ea commodo
                                    consequat. </p>
                                <a href="#" class="text-only-btn">Next Process
                                    <i class="ml-symone-2-arrow-left-right-up-down-increase-decrease"></i>
                                </a>
                            </div>
                            <!-- End of .col-lg-6 -->
                        </div>
                        <!-- End of .row -->
                    </div>
                    <!-- End of .tab-pane -->

                    <div class="tab-pane fade" id="process-tab-3" role="tabpanel" aria-labelledby="process-nav-3">
                        <div class="row no-gutters align-items-center">
                            <div class="col-lg-5 text-lg-right">
                                <img src="{% static 'images/services/process-tab/smm-process/smm-process-img-3.jpg' %}" alt="Process image" class="img-fluid">
                            </div>
                            <!-- End of .col-lg-6 -->

                            <div class="col-lg-6 offset-lg-1 text-center text-lg-left">
                                <h4>Final Design</h4>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                                    tincid unt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.</p>
                                <p>Quis nostrud exerci tation ullam corper suscipit lobortis nisl ut aliquip ex ea commodo
                                    consequat. </p>
                                <a href="#" class="text-only-btn">Next Process
                                    <i class="ml-symone-2-arrow-left-right-up-down-increase-decrease"></i>
                                </a>
                            </div>
                            <!-- End of .col-lg-6 -->
                        </div>
                        <!-- End of .row -->
                    </div>
                    <!-- End of .tab-pane -->

                    <div class="tab-pane fade" id="process-tab-4" role="tabpanel" aria-labelledby="process-nav-4">
                        <div class="row no-gutters align-items-center">
                            <div class="col-lg-5 text-lg-right">
                                <img src="{% static 'images/services/process-tab/smm-process/smm-process-img-4.jpg' %}" alt="Process image" class="img-fluid">
                            </div>
                            <!-- End of .col-lg-6 -->

                            <div class="col-lg-6 offset-lg-1 text-center text-lg-left">
                                <h4>Final Design</h4>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                                    tincid unt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.</p>
                                <p>Quis nostrud exerci tation ullam corper suscipit lobortis nisl ut aliquip ex ea commodo
                                    consequat. </p>
                                <a href="#" class="text-only-btn">Next Process
                                    <i class="ml-symone-2-arrow-left-right-up-down-increase-decrease"></i>
                                </a>
                            </div>
                            <!-- End of .col-lg-6 -->
                        </div>
                        <!-- End of .row -->
                    </div>
                    <!-- End of .tab-pane -->

                    <div class="tab-pane fade" id="process-tab-5" role="tabpanel" aria-labelledby="process-nav-5">
                        <div class="row no-gutters align-items-center">
                            <div class="col-lg-5 text-lg-right">
                                <img src="{% static 'images/services/process-tab/smm-process/smm-process-img-5.jpg' %}" alt="Process image" class="img-fluid">
                            </div>
                            <!-- End of .col-lg-6 -->

                            <div class="col-lg-6 offset-lg-1 text-center text-lg-left">
                                <h4>Final Design</h4>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                                    tincid unt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.</p>
                                <p>Quis nostrud exerci tation ullam corper suscipit lobortis nisl ut aliquip ex ea commodo
                                    consequat. </p>
                                <a href="#" class="text-only-btn">Next Process
                                    <i class="ml-symone-2-arrow-left-right-up-down-increase-decrease"></i>
                                </a>
                            </div>
                            <!-- End of .col-lg-6 -->
                        </div>
                        <!-- End of .row -->
                    </div>
                    <!-- End of .tab-pane -->
                </div>
                <!-- End of .service-tab-content -->
            </div>
            <!-- End of .service-process-tab -->
        </div>
        <!-- End of .container -->
    </section>
    <!-- End of .our-process -->

    <!-- featured-projects
    ======================================= -->
    <section class="inner-page-case-studies section-padding">
        <svg class="bg-shape shape-case-studies reveal-from-left" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            width="779px" height="759px">
            <defs>
                <linearGradient id="PSgrad_04" x1="70.711%" x2="0%" y1="70.711%" y2="0%">
                    <stop offset="0%" stop-color="rgb(237,247,255)" stop-opacity="1" />
                    <stop offset="100%" stop-color="rgb(237,247,255)" stop-opacity="0" />
                </linearGradient>

            </defs>
            <path fill-rule="evenodd" fill="url(#PSgrad_04)" d="M111.652,578.171 L218.141,672.919 C355.910,795.500 568.207,784.561 692.320,648.484 C816.434,512.409 805.362,302.726 667.592,180.144 L561.104,85.396 C423.334,-37.184 211.037,-26.245 86.924,109.832 C-37.189,245.908 -26.118,455.590 111.652,578.171 Z"
            />
        </svg>
        <div class="container">
            <h2 class="text-center">SEO Case Studies</h2>

            <div class="case-study-showcase text-center">
                <div class="row equalHeightWrapper">
                    <div class="col-md-6">
                        <a href="case-studies-details.html" class="case-study-content-block content-block text-left">
                            <div class="img-container">
                                <img src="{% static 'images/case-study/case-study-content/case-study-1.jpg' %}" alt="Project image" class="img-fluid">
                            </div>
                            <!-- End of .img-container -->
                            <div class="txt-content equalHeight">
                                <h5>
                                    Periscope Data
                                </h5>
                                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
                                    egestas.
                                </p>
                            </div>
                            <!-- End of .txt-content -->
                        </a>
                        <!-- End of .featured-content-block -->
                    </div>
                    <!-- End of .col-md-6 -->

                    <div class="col-md-6">
                        <a href="case-studies-details.html" class="case-study-content-block content-block text-left">
                            <div class="img-container">
                                <img src="{% static 'images/case-study/case-study-content/case-study-2.jpg' %}" alt="Project image" class="img-fluid">
                            </div>
                            <!-- End of .img-container -->
                            <div class="txt-content equalHeight">
                                <h5>
                                    Microsoft
                                </h5>
                                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
                                    egestas.
                                </p>
                            </div>
                            <!-- End of .txt-content -->
                        </a>
                        <!-- End of .featured-content-block -->
                    </div>
                    <!-- End of .col-md-6 -->
                </div>
                <!-- End of .grid -->
                <a href="case-studies.html" class="custom-btn btn-big grad-style-ef btn-full">DISCOVER MORE CASE STUDIES</a>
            </div>
            <!-- End of .template-showcase -->
        </div>
        <!-- End of .container -->
    </section>
    <!-- End of .featured-projects -->


{% endblock body_block %}


