{% load static %}

<section id="section-text" class="no-top" data-bgimage="url({% static 'images/background/3d.png' %}) top">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 d-none d-lg-block d-xl-block text-center wow fadeInRight" data-wow-delay="0s">
                <img class="relative img-fluid" src="/media/{{headerhomepage.startup_section_image}}" alt="{{headerhomepage.startup_section_img_alt}}" />
            </div>

            <div class="col-lg-5 offset-md-1 wow fadeInLeft" data-wow-delay="0s">
                <h2>{{headerhomepage.startup_section_title}}</h2>
                <p class="lead">
                    {{headerhomepage.startup_section_description}}
                </p>
                <div class="spacer-half"></div>
                <a class="btn-custom" href="{% url 'mainapp:startupdetails' %}">Get Started</a>
            </div>
        </div>
    </div>
</section>