{% extends 'base.html' %}
{% load static %}

<title>{% block title_block %}{{headerhomepage.site_title}}{% endblock title_block %}</title>

<meta content="{% block meta_description_block %}{{headerhomepage.meta_description}}{% endblock meta_description_block %}" name="description">
<meta content="{% block meta_keywords_block %}{{headerhomepage.meta_keywords}}{% endblock meta_keywords_block %}" name="keywords">

{% block body_block %}

  <!-- Swiper-- header -->
    <div class="no-bottom no-top" id="content">
    <div id="top"></div>

    <!-- content begin -->
    {% include 'includes/header.html' %}


        <!-- service -->
        {% include 'includes/services.html' %}

        <!-- pricing -->
        {% include 'includes/pricing.html' %}

        <!-- statup-section -->
        {% include 'includes/statup-section.html' %}

        <!-- Testimonial starts -->
        {% include 'includes/testimonial.html' %}

        <!-- Latest-news -->
        {% include 'includes/contact-us.html' %}

        <!--counter-->
        {% include 'includes/counter-bar.html' %}


    </div>
    <!-- content close -->


{% endblock body_block %}